<div class="container-fluid px-4">
    <!-- main body -->
    <div class="my-5 p-5 text-center shadow rounded w-50 mx-auto bg-dark text-light">
        <h1> Home Page </h1>
        <hr class="w-25 mx-auto">
        <div>
            <a href="/admin/showDept" class="text-warning text-decoration-none fs-4"><i
                    class="fa-solid fa-link m-2"></i>Go
                to Department
                page</a>
        </div>
        <div>
            <a href="/admin/showSub" class="text-warning text-decoration-none fs-4"><i
                    class="fa-solid fa-link m-2"></i>Go
                to Subjects page</a>
        </div>
        <div>
            <a href="/admin/showStuInfo" class="text-warning text-decoration-none fs-4"><i
                    class="fa-solid fa-link m-2"></i>Go
                to Students page</a>
        </div>
        <div>
            <a href="/admin/showDocInfo" class="text-warning text-decoration-none fs-4"><i
                    class="fa-solid fa-link m-2"></i>Go
                to Doctors page</a>
        </div>
    </div>
</div>
